<h1 mat-dialog-title>{{ isEdit ? "Edit" : "Add" }} Product Form</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm" class="body">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        formControlName="name"
        matInput
        placeholder="Your name"
      /> </mat-form-field
    ><mat-form-field>
      <mat-label>price</mat-label>
      <input formControlName="price" matInput placeholder="price" value="0" />
    </mat-form-field>
  </form>
  <div class="footer">
    <button mat-raised-button mat-dialog-close color="accent">Close</button>
    <button
      style="margin-left: 10px"
      mat-raised-button
      color="primary"
      (click)="onConfirm()"
    >
      Save
    </button>
  </div>
</div>
