.client-table {
  height: 90%;
}
.button-container {
  height: 80px;
  display: flex;
  align-items: center;
}
.page-body {
  margin-left: 20px;
  margin-right: 20px;
}
.add-button {
  margin-left: 20px;
}
