.example-spacer {
  flex: 1 1 auto;
}
.demo-table {
  height: 90%;
}
.demo-button-container {
  height: 80px;
  display: flex;
  align-items: center;
}
.body {
  margin-left: 20px;
  margin-right: 20px;
}
